body {
    background-color: aquamarine;
}
h2{
    color: brown;
    margin-left: 20px;
    text-align: center;
    font-size: 300%;
}
h1{
    color: rebeccapurple;
    margin-left: 20px;
    font-size: 200%;
    font-family: 'Courier New', Courier, monospace;

}
